
.signin-container{
    margin:  1rem 0;
    
}
.signin-form{
    display: flex;
    flex-direction: column;
}

.signin-form label{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    color: #767b7b;
    margin: 5px;
   
}
.signin-form input{
    background-color: #F6f6f6;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    padding: 20px;
    font-size: 15px;
    font-family: Poppins;
}

.signin-form-forgot-password label{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    color: #1F1F1F;
    position: relative;
    bottom: 4px;
    left: 4px;
   
}

.signin-form-checkbox{
    width: 22px;
    height: 22px;
    border: 1px solid #b2b2b2;
   
}

.signin-button{
    font-family:'Poppins';
    font-size: 16px;
    color: white;
     line-height: 24px;
     font-weight: 600;
     background-color: #643ea1;
     border-radius: 15px;
     width: 100%;
     padding: 20px;
     margin-bottom: 1rem;
     
}

.signin-user{
    font-family:'Poppins';
     font-weight:600;
    color: #6137a3;
    line-height: 36px;
    font-style: italic;
}

.link-homepage-signin{
    color: #271B3E;
    font-size: 30px;
    position: relative;
    right: 40%;
}

@media screen and (max-width:800px) {
    .link-homepage-signin{
        right: 30%;
    }
}
@media screen and (max-width:520px) {
    .link-homepage-signin{
        right: 20%;
    }
}
@media screen and (max-width:390px) {
    .signin-conntainer-box{
        width: 300px !important;
    }
    .signin-form-forgot-password label{
        font-size: 12px;
    }
}