[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
black = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
sqlparse = "*"
asgiref = "*"
pytz = "*"
cloudinary = "*"
requests = "*"
redis = "*"
pyngrok = "*"
huey = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
