.button-create-now{
    font-family:'Poppins';
    font-size: 20px;
    color: #3A1C6B;
     line-height: 36px;
     font-weight: 400;
     padding: 10px 20px;
     background-color: #FFFFFF;
     border-radius: 10px;
     margin: 20px;
}
@media screen and (max-width:520px) {
    .button-create-now{
        padding: 5px 12px;
        font-size: 15px;
    }
}