/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.20); /* Black w/ opacity */
    transform: scale(1.15);
    
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 25%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    transition: all 0.3s ease-out;
    padding: 15px;
  }

  .profile-container{
    cursor: pointer;
    margin: 0 auto;

}
.profile-btn{
  padding: 10px 25px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    color: white;
    background-color: #2A0B9C;
    border-radius: 10px;

}
  

.add-creditor-btn-save{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    color: white;
    background-color: #2A0B9C;
    border-radius: 10px;
    cursor: pointer;

}
.add-creditor-btn-close{
   padding: 7px 35px;
    display: flex;
    align-items: center;
    font-family: Poppins;
    color: #2A0B9C;
    border: 2px solid #2A0B9C;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
  /* The Close Button */
  

  

  @keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      
      opacity: 1;
      
    }
  }
  
  .modal{
      animation-name: myAnimation;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }

  .ModalOpen {
    animation: openModal 0.2s ease-out forwards;
}
  .ModalClosed {
    animation: closeModal 0.2s ease-out forwards;
  }

@keyframes openModal {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0);   }
}

@keyframes closeModal {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%);}
}

.modal-profile-update{
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-out;
}

.profile-input{
    width: 100%;
    background-color: #F1F1F1;
    height: 25px;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    font-size: 13px;
    
}

.profile-label{
 color: #7B7B7B;
 font-weight: 500;
 font-size: 13px;
 line-height: 16px;
 font-family: inter;
 padding: 5px 0;
}
.modal-pay-creditor{
  background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-out;
}

.external-url{
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
  color: green;
}
.external-url:hover{
  color: rgb(20, 30, 4);
}

.success{
  color: green;
  font-size: 15px;
}
.failure{
  color: red;
  font-size: 15px;
}