.button-create{
    font-family:'Poppins';
    font-size: large;
     color: white;
     line-height: 36px;
     font-weight: 400;
     padding: 5px;
}

.img{
    position: relative;
    top: 7%;
    right: 28px;
    height: 85%;
   
}

@media screen and (max-width:996px) {
    .header-box{
       
        justify-content: center !important;
    }
    .header-text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-text{
        max-width: 100% !important;
    }
    .header-button{
        margin: 30px auto !important;
    }
    .header-image{
        display: block !important;
        margin: 0 auto !important;
        width: 80% !important;
    }
    .header-image img{
        width: 100% !important;
        object-fit: cover;
        
    }
}

@media screen and (max-width:520px) { 
    .header-button{
        width: 180px !important;
        font-size: 12px !important;
    }
}